/*Start Media Queries */
/*Laptops and bigger tablets */
body {
    background-color:white;
    font-family:'Ropa Sans', sans-serif;
    color: black;
    line-height: 1.7em;
    text-align: left;
}

h1 {
    padding-left: 350px;
}
#container {
    background-color: #B6A5A5;
    padding-bottom: 40px;
}
.vasak-pool {
    float: left;
    margin-top: 100px;
    margin-left: 100px;
}
.parem-pool {
    display: inline;
    float: left;
    margin-left: 200px;
    margin-top: 100px;
}
.container {
    margin-left: 100px;
    background-color: white;
    margin-bottom: 200px;
}
.footer {
    background-color: #B6A5A5;
    clear: both;
    position: relative;
}
.vasakpool {
    float:left;
    margin-left: 200px;
    margin-top: 100px;
}
.parempool {
 margin-left: 1000px

}

@media only screen and (min-width: 767px) and (max-width: 1100px)
#screen_width {
    top: -5;
    left: 0;
    color: white;
    font-size: 10px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-nav ul {
    list-style: none;
    text-align: center;
    padding-left: 600px;
}

.main-nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Ropa Sans', sans-serif;
    font-weight: 800;
}
.main-nav a:hover{
    color: #833636;
}
